<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="DroidReceiver.DroidReceiver">
	<uses-sdk />
	<application android:label="DroidReceiver">
		<service android:enabled="true" android:exported="true" android:isolatedProcess="false" android:label="Beacon" android:name="org.altbeacon.beacon.service.BeaconService">
		</service>
		<service android:enabled="true" android:name="org.altbeacon.beacon.BeaconIntentProcessor">
		</service>
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>